.app {
    margin: $spacing-XXL;
}

.md-btn {
    z-index: 99;
    margin-bottom: $spacing-L;
}

.main-button {
    font-size: 20px;
    height: 40px;
    margin-right: $spacing-XXL;
    margin-bottom: $spacing-XXL;
}

.soundboard-button {
    font-size: 12px;
    margin-right: $spacing-L;
    margin-bottom: $spacing-L;
}

*[hidden] { display: none; }

.danger {
    background: $flat-red;
    margin-right: 0;
}

@media screen and (min-width: 320px) {
    .md-btn--text {
        margin-top: unset;
    }
}


#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.volume {
    z-index: 999;
    position: fixed;
    bottom: $spacing-S;
    right: $spacing-XXL;

    .md-slider-track {
        width: 0;
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }

    &:hover {
        .md-slider-track {
            opacity: 1;
            width: 250px;
        }
    }
}

#center-image {
    width: 80vh;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0);
    -webkit-filter: drop-shadow( -1px -1px 3px rgba(0,0,0, 0.5) );
    filter: drop-shadow( -1px -1px 3px rgba(0,0,0, 0.5) );
}